.mainContainer {
   
    width: 80%;
    height: 32%;
    min-width: 1300px;
    min-height: 400px;

    margin: 7rem auto 2rem auto;
    border-radius: 2rem;
    border: 1px solid black;

    display: flex;

    /* overflow: hidden; */
    position: relative;
}

.mainContainer:hover > img {
    transform: scale(1.02);
}


/* Background Image */
.img {
    position:absolute;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    transition: transform 0.5s ease;
}

/* The card CSS */
/* All the cards's container */
.outsideContainer {
    display: flex;
    

    border: 1px red solid;

    width: 27%;
    height: 80%;

    margin-right: auto;
    margin-top: 1rem;
    margin-left: 3rem;

    overflow: visible;

    position: relative;
}


.cardContainer {
    width: 400%;
    height: 100%;
    /* border: 1px red solid; */
    flex-shrink: 0;

    display: flex;
    gap: 1rem;
    transition: left 1s ease;

    position: absolute;

}

/* .cardContainer > *:not(:last-child) {
    
    margin-right: 1%;
} */

.card {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;

    width: 25%;
    height: 100%;

   margin-top: 0px;
   margin-bottom: 0px;
   border: 1px yellow solid;
   padding: 1rem 2rem;
}

.topParagraph {
    height: 50%;
}
.topParagraph > * {
    margin: 0px 0px;
    text-align: center;
}

.phonePic {
    width: 40%;
    height: 50%;
    /* flex-shrink: 0; */
}