.home {
    margin: 0;

    height: 150%;
    width: 100%;
    min-width: 1000px;
    min-height: 1000px;

    /* border: 1px solid red; */
}


.header {
    margin: 0px;
    margin-top: 2%;
    font-size: 1.8rem;
    text-align: center;
    color:#48D1CC;
    /* text-shadow: 2px 2px 2px black; */

}

